<section class="hero text-center d-flex align-items-center">
    <div class="container">
        <h1 class="display-4 fw-bold fade-in">
            Connecting Skills to Opportunities
        </h1>
        <p class="lead mt-3 fade-in-delay">
            Smart internship matching for students and recruiters.
        </p>

        <div class="mt-4 fade-in-delay-2">
            <a href="/register" class="btn btn-primary btn-lg me-2">Get Started</a>
            <a href="/login" class="btn btn-outline-light btn-lg">Login</a>
        </div>
    </div>
</section>